body {
  margin: 0;
  background-color: #f7f7f7;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
