.App {
  text-align: center;
  height: 100vh;
}

.list-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.item {
  width: calc(20vw + 200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  border: 3px solid #000;
}

.icons {
  display: flex;
}
.delete-icon {
  margin-left: 13px;
}

/* input  */
.input-box {
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  color: #282828;
  width: calc(100px + 20vw);
  box-sizing: border-box;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  :focus {
    border: 3px solid #5551ff;
  }
  margin: 30px;
}

button {
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  color: #282828;
  width: 90px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  :focus {
    border: 3px solid #5551ff;
  }
}
